html {
	font-size: 18px;
}

body {
	margin: 0;
}

main {
	margin: 8px;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 2em;
	border-bottom: 1px solid #999;
	margin:0 auto;
	text-align: center;
}

h2 {
	font-size: 1.666667em;
	color: black;
}

.top_container {
	display: flex;
	justify-content: space-between;
}

.top_container button {
	margin: 0;
}


.card h1 {
	border-color: white;
	font-size: 32px;
}

.groups {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.groups a {
	width: 20%;
	margin-top:30px;
	background-color: #88E042;
	border-radius: 20px;
	padding: 20px;
	text-decoration: none;
	color: white;
	font-family: 'Arial';
}

.groups a:hover {
	background-color: #4EE097;
}