header{
    height: 150px;
    background: transparent url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/170VMZp/elegant-waving-canvas-yellow-green-background-loop_ny50oveve__F0000.png) no-repeat fixed 80% 80%;
}

header li {
	font-family: 'Arial';
	color: white;
	font-family: 'Arial';
	text-shadow: 4px 4px 8px #45C94E;
}

header a {
	font-family: 'Arial';
	color: white;
	font-family: 'Arial';
	text-shadow: 4px 4px 8px #45C94E;
}

h1 {
	font-family: 'Arial';
	color: white;
	font-family: 'Arial';
	text-shadow: 4px 4px 8px #45C94E;
}

.header_grid{
    widht: 100%;
    margin:auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.btn {
    border: none;
    background-color: transparent;
    margin-top: -32px;
    width: 86px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 10px;
    display: block;
    outline: none;
}

.btn a {
	text-decoration: none;
	font-size: 1rem;
}

button {
	height: 40px;
	border-radius: 10px;
	margin: auto;
	width: 130px;
	background-color: #88E042;
	transition: background-color 0.3s ease-in-out;
	margin-bottom: 20px;
	font-size: 14px;
	border: none;
	text-decoration: none;
	color: white;
}

button a {
    text-decoration: none;
    color: white;
    width: 100%;
}

button:hover {
	background-color: #4EE097;
}

header button:hover {
	background-color: transparent;
}

.header_title{
    margin: 0 auto;
    text-align: center;
}

.header_title h1{
	font-size: 2.5rem;
    padding-top: 20px;
    margin-bottom: 2em;
	border: none;
	margin:0 auto;
	text-align: center;
}

.header_pages{
    display: flex;
    flex-direction: column;
    width:100%;
}

.header_pages ul li a{
	font-size: 24px;
	margin-left: 5px;
	margin-right: 5px;
}

header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0px;
}

header ul li {
	margin: 10px;
}

header ul li a{
	transition: font-weight 0.4s ease;
    text-decoration: none;
}

header a:hover{
    font-weight: bold;
}

header ul li .pages_selected{
	text-decoration: underline;
}

