html {
	font-size: 18px;
}

body {
	margin: 0;
}

main {
	margin: 1%;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 2em;
	border-bottom: 1px solid white;
	margin:0 auto;
	text-align: center;
}

h2 {
	font-size: 1.666667em;
	color: black;
}

.user_view{
	width: 40%;
	margin: auto;
	margin-top: 30px;
	background-color: #88E042;
	border-radius: 20px;
	padding: 20px;
	color: white;
	font-family: 'Arial';
}

.group_view{
	width: 40%;
	margin: auto;
	margin-top: 30px;
	background-color: #88E042;
	border-radius: 20px;
	padding: 20px;
	color: white;
	font-family: 'Arial';
}

.butt{
	font-size:17px;
}

img {
	width: 400px;
	hight: 400px;
	margin-left: 90px;
	margin-top: 20px;
}

.users{
	display: flex;
	flex-direction: column;
}

.user_row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid white;
	border-radius: 7px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

.user_row a{
	text-decoration: none;
	color: white;
}

.user_row:hover {
	background-color: #4EE097;
}